/* Header Container */
.avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;

  width: 25px;
  height: 25px;

  background: #dce1ea;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.25);
  border-radius: 80px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.login-infor {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 10px;

  width: fit-content;
  height: fit-content;

  flex: none;
  order: 2;
  flex-grow: 0;
}
.right-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  width: 20%;
}
.search-bar {
  box-sizing: border-box;

  display: flex;
  align-items: center;
  padding: 8px 15px;
  gap: 5px;

  width: 280px;
  height: 34px;

  background: #ffffff;
  border: 0.4px solid #878787;
  border-radius: 22px;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.search-bar input {
  border: none;
  outline: none;
  font-size: 14px;
  width: 100%;
}
.search-bar i {
  color: #878787;
}
.left-header-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0px;
  gap: 20px;

  width: 45%;
}
.header-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 100%;
  height: fit-content;

  background-color: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

  flex: none;
  order: 0;
  flex-grow: 0;
}

/* Student Information Card */
.student-avatar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;

  width: 120px;
  height: 120px;

  background: #dce1ea;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
  border-radius: 80px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.information-card img {
  border-radius: 80px;
}
.avatar-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 18px;

  width: fit-content;
  height: fit-content;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.details-link {
  width: 100%;
  height: 17px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

  color: #557ffe;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.infor-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: fit-content;
  height: fit-content;

  flex: none;
  order: 0;
  flex-grow: 1;
}
.infor-text-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  max-width: 100%;
  height: 100%;

  flex: 1;
  order: 1;
  flex-grow: 1;
}
.infor-card-body {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px;
  gap: 20px;

  width: fit-content;
  min-width: 550px;
  height: fit-content;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.title {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 15px 0px;
  gap: 10px;

  width: 100%;
  height: 100%;

  border-bottom: 1px solid #e7ecf0;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.title > span {
  width: max-content;
  height: fit-content;

  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  display: flex;
  align-items: center;

  color: #505050;

  flex: none;
  order: 0;
  flex-grow: 1;
}
.card-infor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 15px;
  gap: 10px;

  width: fit-content;
  min-width: 580px;
  height: fit-content;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
/* Today Learning Schedule Card */
.lesson-border {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px 10px;

  width: fit-content;
  height: max-content;

  background: #56a2e8;
  border-radius: 4px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.lesson-border > p {
  width: fit-content;
  height: max-content;

  font-family: "Segoe UI";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;

  color: #ffffff;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.lesson-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;

  width: max-content;
  height: fit-content;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.lesson-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-items: center;
  padding: 10px 25px;
  gap: 8px;

  width: 83%;
  min-height: 130px;

  background: #f7fcff;
  border-radius: 6px;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.lesson-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;

  width: max-content;
  height: fit-content;
}
.schedule-icon-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 50px;
  height: 50px;

  background: rgba(21, 56, 152, 0.1);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.schedule-icon-container i {
  font-size: 24px;
  color: #56a2e8;
}
.today-schedule-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;

  width: 100%;
  height: fit-content;

  flex: none;
  order: 1;
  flex-grow: 0;
}
.schedule-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;

  width: 100%;
  height: fit-content;

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.detail-link-forward {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 4px;

  width: fit-content;
  height: fit-content;
  color: #56a2e8;
  font-weight: 550;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.detail-link-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  width: 100%;
  height: fit-content;
}
.today-schedule-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 15px;

  width: fit-content;
  height: fit-content;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}
/* Today Examination Schedule Card */
.lesson-card.empty {
  justify-content: center;
  align-items: center;
  min-height: 130px;
}

.empty-text {
  color: #555555;
  font-style: italic;
}
/* Today Schedule Container */
.highest-priority-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0px;
  gap: 20px;

  flex-wrap: wrap;

  width: 100%;
  height: fit-content;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

/* Second Priority Cards */
.second-prio-icon {
  box-sizing: border-box;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 13px 0px;

  width: 50px;
  height: 50px;

  background: #ffffff;
  border-radius: 50px;

  flex: none;
  order: 0;
  flex-grow: 0;
}
.second-prio-icon i {
  font-size: 24px;
}
.second-prio-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 0px 2.205px;
  gap: 7.4px;

  width: fit-content;
  height: fit-content;

  flex: none;
  order: 1;
  flex-grow: 1;
}
.second-prio-title span:first-child {
  font-weight: 500;
  font-size: 16px;
}
.small-text {
  font-weight: 400;
  font-size: 13px;
  color: #808080;
  min-height: 16px;
}
.counting {
  font-weight: 600;
  font-size: 28px;
}
.second-prio-card {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 15px;
  gap: 20px;

  width: fit-content;
  height: fit-content;

  background: #ffffff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;

  flex: none;
  order: 0;
  flex-grow: 1;
}
.second-priority-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 0px;
  gap: 20px;

  height: fit-content;

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
/* Schedule */
.schedule-icon {
  border: 0.2px solid #56a2e8;
}
.schedule-icon i {
  font-size: 24px;
  color: #56a2e8;
}
.schedule-title span {
  color: #56a2e8;
}
/* Examination */
.exam-icon {
  border: 0.2px solid #ff9800;
}
.exam-icon i {
  font-size: 24px;
  color: #ff9800;
}
.exam-title span {
  color: #ff9800;
}
/* Examination */
.announce-icon {
  border: 0.2px solid #505050;
}
.announce-icon i {
  font-size: 24px;
  color: #505050;
}
.announce-title span {
  color: #505050;
}
/* Scholarship */
.scholarship-icon {
  border: 0.2px solid #f2b705;
}
.scholarship-icon i {
  font-size: 24px;
  color: #f2b705;
}
.scholarship-title span {
  color: #f2b705;
}

/* Quick Function Card */
.quick-function-container {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 20px;
}
.quick-fucntion-card {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  gap: 12px;

  width: 100%;
  height: 100%;
  min-height: 120px;

  background: #ffffff;
  border: 1px solid #f4fbff;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
}
.quick-fucntion-card i {
  font-size: 28px;
  color: #56a2e8;
}
.quick-fucntion-card span {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
  color: #000000;
}
