<header class="header-container">
  <div class="left-header-container">
    <!-- <button class="hamburger-menu" id="hamburgerMenu">
      <i class="fas fa-bars"></i>
    </button> -->
    <button class="sidebar-toggle" id="sidebarToggle">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div class="logo-div">
      <!-- Todo Logo -->
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm..." />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="right-header-container">
    <div>
      <i class="fa-regular fa-house"></i>
      <span>Trang chủ</span>
    </div>
    <div>
      <i class="fa-regular fa-bell"></i>
      <span>Tin tức</span>
    </div>
    <div class="login-infor">
      <div class="avatar-header">
        <img src="../img/user.png" alt="User Image" width="15" height="15" />
      </div>
      <span style="font-size: larger">Asc Test</span>
    </div>
  </div>
</header>
