<header class="header-container">
  <div class="left-header-container">
    <!-- <button class="hamburger-menu" id="hamburgerMenu">
      <i class="fas fa-bars"></i>
    </button> -->
    <button class="sidebar-toggle" id="sidebarToggle">
      <i class="fas fa-chevron-left"></i>
    </button>
    <div class="logo-div">
      <img
        src="../../TTS_Website_SV_ASC/img/logo-ASC.png"
        alt="Logo-ASC"
        height="30"
      />
    </div>
    <div class="search-bar">
      <input type="text" placeholder="Tìm kiếm..." />
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
  <div class="right-header-container">
    <a
      class="text-decoration-none"
      href="../../TTS_Website_SV_ASC/html/index.html"
    >
      <i class="fa-regular fa-house"></i>
      <span>Trang chủ</span>
    </a>
    <a
      class="text-decoration-none notification-btn"
      href="../../TTS_Website_SV_ASC/html/tin-tuc.html"
      title="Tin tức & thông báo"
    >
      <div class="notification-icon-wrap">
        <i class="fa-regular fa-bell"></i>
        <span class="notification-badge">2</span>
      </div>
      <span>Tin tức</span>
    </a>
    <div class="login-infor">
      <div class="avatar-header">
        <img src="../img/user.png" alt="User Image" width="15" height="15" />
      </div>
      <span>Asc Test</span>
      <i class="fa-solid fa-angle-down"></i>
      <div class="user-dropdown">
        <a href="#" class="dropdown-item">
          <span>Thông tin cá nhân</span>
        </a>
        <a href="#" class="dropdown-item">
          <span>Đổi mật khẩu</span>
        </a>
        <div class="dropdown-divider"></div>
        <a href="#" class="dropdown-item">
          <span>Đăng xuất</span>
        </a>
      </div>
    </div>
  </div>
</header>
